/* =========
--- CSS INDEX ---
1.Fonts CSS
2.Common CSS
3.Loader CSS
4.Navbar CSS
5.Banner CSS
6.About Us CSS
7.Counter CSS
8.Services CSS
9.Portfolio CSS
10.My Clients CSS
11.Working Steps CSS
12.Pricing CSS
13.Testimonial CSS
14.Blog CSS
15.Footer CSS
16.Back To Top CSS
17.All Over World CSS
18.Cta CSS
19.About Us Page CSS
20.Services Page CSS
21.Service Detail Page CSS
22.Portfolio Page CSS
23.Portfolio Detail Page CSS
24.Faq Page CSS
25.Pricing Page CSS
26.Blog Grid Page CSS
27.Blog List Page CSS
28.Blog Detail Page CSS
29.Contact Us Page CSS
30.404 Error Page CSS
============*/

/*==========Fonts CSS Start==========*/
@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("assets/fonts/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("assets/fonts/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: local("Pretendard"),
    url("assets/fonts/Pretendard-Medium.otf") format("otf");
  font-family: "Pretendard-Medium";
  font-style: normal;
  font-weight: normal;
}

/*==========Fonts CSS End==========*/

/*==========Common CSS Start==========*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Gilroy-Regular";
}
/* Hide scrollbar for Chrome, Safari and Opera */
body *::-webkit-scrollbar {
  display: none;
}

body * {
  scrollbar-width: none; /* Firefox */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

input,
input:focus,
input:hover,
button,
button:hover,
button:focus,
textarea {
  font-family: "Gilroy-Regular";
  outline: none;
}

p {
  font-size: 2rem;
}

.dark-bg {
  background-color: #262626;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.section-btn {
  width: 228px;
  height: 44px;
  background-color: transparent;
  margin: 2rem auto;
  border: 1px solid #262626;
  border-radius: 39px;
  display: block;
}

/*==========Common CSS End==========*/

/* Header */
.header {
  background-color: #ffe69f;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.header .container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}

.header-logo-img {
  width: 282px;
  height: 50px;
}

.header-menu {
  font-family: pretendard, sans-serif;
  display: flex;
  align-items: center;
  gap: 1.2rem;
  color: black;
  font-weight: 500;
}

.header-menu-item {
  display: block;
  padding: 8px 16px;
}

a:link {
  color: black;
}

.navbar-toggleBtn {
  display: none;
  color: #262626;
  font-size: 1.7rem;
  position: absolute;
  left: 1rem;
  top: 1.9rem;
}

/* .header__menu__item:hover {
  border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
  border: 1px solid var(--color-accent);
  border-radius: 4px;
} */

.section-banner {
  padding: 1.5rem 0;
  background-color: #ffe69f;
}

.section-banner .container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 3r m auto 7rem;
}

.banner-logo {
  margin: 6rem 0 2.5rem;
}

.banner-description {
  color: #4d4d4d;
}

.banner-img {
  overflow-x: hidden;
}

/* section-1 */
.section-1 {
  background-color: #ffffff;
  text-align: center;
}

.section-1 .container {
  flex: flex;
  margin: 0 auto;
  font-family: "Gilroy-Regular";
}

.photo-gallery {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 5vw);
  grid-gap: 15px;
}

.gallery-img {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  object-fit: cover;
}

.gallery-item-1 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 6;
}

.gallery-item-2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery-item-3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 7;
}

.gallery-item-4 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 7;
  grid-row-end: 11;
}

.gallery-item-5 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 11;
  grid-row-end: 13;
}

.gallery-item-6 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 7;
  margin-bottom: 1rem;
}
.gallery-item-7 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 7;
  grid-row-end: 8;
  margin-top: -1rem;
}

/* section-2 */

.section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #cceace;
  width: 100%;
  height: 80vh;
  text-align: center;
}

.section-2 h2 {
  font-family: "Gilroy-Bold";
  font-size: 3rem;
  margin-bottom: 5vh;
}

.image-wrapper {
  display: flex;
  overflow-x: scroll;
}

/* section3 */
.section-3 div:first-child {
  background-color: black;
  width: max-content;
  overflow-x: hidden;
}

.section-3 h2 {
  color: white;
  padding: 1.5rem 0;
  display: flex;
}
.word-animation {
  animation: 50s infinite linear rotatingWord;
}

@keyframes rotatingWord {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-25%);
  }
}

.section-4 {
  background-color: #cceace;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section-4 h3 {
  font-family: "Gilroy-Bold";
  margin: 2rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
}

.wave-img {
  margin-top: 2rem;
  width: 100%;
  height: 281px;
}

.card img {
  margin: 1.5rem;
  border-radius: 2rem;
}

.card p {
  font-size: 20px;
  margin: 0 1.5rem;
}
.card h2 {
  font-size: 2rem;
  margin: 0 0 3.5rem 1.5rem;
}

/* section5 */
.section-5 {
  max-width: 1200px;
  height: 100%;
  margin: 3rem auto;
  background-color: #ffffff;
}

.btn-container {
  max-width: 1100px;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.location-icon {
  position: relative;
  margin-bottom: 10px;
}
.location-icon i {
  position: absolute;
  top: 55%;
  left: 1rem;
}

.tags-btn {
  width: 180px;
  height: 40px;
  background-color: transparent;
  margin: 2rem auto;
  border: 1px solid #262626;
  border-radius: 20px;
  display: block;
}

.tags-btn.checked {
  background-color: #262626;
  color: #ffffff;
}

.tags button {
  display: inline-block;
  width: fit-content;
  padding: 0 20px;
  font-size: 20px;
  margin: unset;
}

.card-wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  overflow-x: scroll;
  gap: 0.5rem;
}

.card {
  width: 484px;
  height: 550px;
  background-color: #ffffff;
  border-radius: 2.5rem;
}

form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.form-box-two {
  display: flex;
}

#location {
  width: 360px;
  height: 48px;
  padding: 1rem;
  margin: 0.5rem 0.5rem 0 0;
  border-radius: 24px;
  border: none;
  background-color: #f2f2f2;
  color: #7e7e7e;
}

form select {
  width: 180px;
  height: 48px;
  margin: 0.5rem 0.5rem;
  border-radius: 24px;
  border: none;
  background-color: #f2f2f2;
  color: #7e7e7e;
}

.date {
  width: 180px;
  height: 48px;
  margin: 0.5rem 0.5rem;
  border-radius: 24px;
  border: none;
  background-color: #f2f2f2;
  color: #7e7e7e;
}

.section5-img {
  text-align: center;
  max-width: 1280px;
  margin: 3rem auto;
  position: relative;
}

.bubble {
  position: absolute;
  left: 45%;
}

/* Modal Start */
.modal-container {
  position: relative;
  margin: 0 auto;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  width: 432px;
  padding: 1.3rem;
  min-height: 250px;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: white;
  box-shadow: 5px 5px 20px #4d4d4d26;
  border-radius: 24px;
}

.modal p {
  font-size: 1rem;
}

.modal {
  z-index: 2;
}

.hidden {
  display: none;
}

.modal h3 {
  margin: 3rem auto;
}

.modal-btn-box {
  margin: 1rem auto;
}

.modal input,
textarea {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #ddd;
  border-radius: 16px;
  font-size: 0.9em;
}

.modal textarea {
  height: 140px;
}

.input-icons {
  width: 100%;
  margin: auto 0;
}

input::placeholder {
  padding: 1rem;
}

textarea::placeholder {
  padding: 0 1rem;
}

.input-icons i {
  position: absolute;
  margin: 1.2rem 0.5rem;
}

.input-icons img {
  position: absolute;
  margin: 0.7rem 0.5rem;
}

.icon {
  background-color: #ff5a5aa8;
  padding: 5px;
  width: 20px;
  height: 20px;
}

.btn {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
}

.input-box-one {
  display: flex;
  flex-direction: column;
  gap: inherit;
}

.input-box-two {
  display: flex;
  gap: inherit;
}

.btn-close {
  background-color: #ffffff;
  color: #262626;
}

.btn-submit {
  background-color: #262626;
  color: #ffffff;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
/* Modal End */

/* Footer Start */
.footer-container {
  background-color: #262626;
}

.footer {
  display: flex;
  margin: 0 auto;
  padding: 2rem 0;
  justify-content: space-between;
  align-items: center;
  font-family: "Pretendard-Medium";
}

.contact-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 2rem;
}

.contact-link {
  color: white;
  transition: color 250ms ease-in;
}

.search-bar {
  position: relative;
  width: 204px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 20px;
}
.search {
  position: absolute;
  left: 80%;
  top: 25%;
}

.contact a {
  color: #ffffff;
}

.contact-container {
  margin: 2rem auto 0;
  border-top: 1px solid #ffffff;
}
.contact-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 3rem;
}

.tel-box a {
  margin-right: 3rem;
  color: #ffffff;
}

.links-box li {
  display: inline-block;
  margin: 0 0.5rem 0;
}
.links-box li a {
  color: #ffffff;
}
/* Footer End */

@media screen and (max-width: 768px) {
  .header-menu {
    gap: 0.5rem;
  }
  #service {
    display: none;
  }
  #contact {
    display: none;
  }
  .header-menu-item {
    display: block;
    padding: 8px 5px;
  }
  .section-banner .container {
    margin: 1rem 1rem 5.6rem;
  }
  .banner-title h1 {
    font-size: 2rem;
  }

  .banner-logo {
    width: 128px;
    height: auto;
  }

  .banner-subtitle {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .banner-img {
    width: 400px;
    height: auto;
  }

  .card {
    width: 208px;
    height: 306px;
  }

  .card img {
    width: 192px;
    height: auto;
    margin: 0.5rem;
  }
  .card p {
    font-size: 1rem;
    margin: 0 1rem;
  }
  .card h2 {
    font-size: 1.2rem;
    margin: 0 0 2.5rem 1rem;
  }

  .banner-description {
    font-size: 0.8rem;
  }

  .section2-h2-box {
    width: 200px;
    margin: 0 auto;
  }
  .section-2 h2 {
    font-size: 1.5rem;
  }

  .section-2 p {
    font-size: 0.75rem;
  }

  .characters-image img {
    width: 30%;
  }

  .slide-photo img {
    width: 95%;
    height: auto;
  }
  .section-3 h2 {
    font-size: 0.75rem;
    padding: 1rem 0;
  }
  .section-4 h3 {
    font-size: 1.5rem;
  }

  .wave-img {
    height: auto;
  }

  .tags button {
    padding: 8px;
    font-size: 1rem;
  }

  .section-5 .tags {
    gap: 1rem;
  }

  .section5-img {
    margin: 6rem auto;
  }
  .bubble {
    top: -20%;
    left: 35%;
    width: 30%;
  }
  .puppy {
    width: 35%;
  }

  .contact-box {
    flex-direction: column;
  }

  .tel-box a {
    margin-right: unset;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  .header .container {
    flex-direction: column;
    padding: 8px 24px;
  }

  .header-logo-img {
    width: 200px;
    height: auto;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    margin: 1rem 1rem;
  }

  .header-menu li {
    width: 100%;
    text-align: center;
  }

  .navbar-toggleBtn {
    display: block;
  }

  .header-menu.open {
    display: flex;
  }

  .section-banner .container {
    margin: 1rem;
    flex-direction: column-reverse;
    align-items: start;
  }

  .banner-title h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .banner-img {
    margin-bottom: 1rem;
    width: 100%;
  }

  .banner-subtitle {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .banner-logo.logo-image {
    width: 230px;
    height: auto;
  }

  form {
    flex-direction: column;
  }

  form label {
    color: #7e7e7e;
  }
  form select {
    width: 152px;
    height: 40px;
  }

  form div {
    margin: 0.5rem 0.5rem;
  }

  .form-box-one {
    margin: 1rem auto;
  }

  .form-box-two {
    display: flex;
    justify-content: space-between;
  }

  .form-box-two .date {
    width: 152px;
    height: 40px;
  }

  .footer {
    flex-direction: column;
  }

  .footer-logo {
    margin-bottom: 1rem;
  }
}
