@font-face {
  font-family: "Gilroy-Heavy";
  src: local("Gilroy-Heavy"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Bold";
  src: local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy-Regular"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gilroy-Light";
  src: local("Gilroy-Light"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  src: local("Pretendard"), url("../fonts/Pretendard-Medium.otf") format("otf");
  font-family: "Pretendard-Medium";
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfonte0a5.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfontd41d.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfonte0a5.woff2?v=4.3.0") format("woff2"),
    url("../fonts/fontawesome-webfonte0a5.woff?v=4.3.0") format("woff"),
    url("../fonts/fontawesome-webfonte0a5.ttf?v=4.3.0") format("truetype"),
    url("../fonts/fontawesome-webfonte0a5.svg?v=4.3.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*==========Fonts CSS End==========*/

/*==========Common CSS Start==========*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Gilroy-Regular";
}
body *::-webkit-scrollbar {
  display: none;
}
body * {
  scrollbar-width: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}
input,
textarea {
  width: 100%;
  padding: 1.2rem;
  font-family: "Gilroy-Regular";
  outline: none;
}
p {
  font-size: 2rem;
}
.dark-bg {
  background-color: #262626;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
.main-container {
  max-width: 1200px;
  margin: auto;
}
.section-btn {
  width: 228px;
  height: 44px;
  display: block;
  background-color: transparent;
  color: #262626;
  border: 1px solid #262626;
  border-radius: 39px;
}
.section-btn:hover {
  width: 228px;
  height: 44px;
  background-color: #262626;
  color: #ffffff;
  cursor: pointer;
}

/*==========Common CSS End==========*/
/* Header */
.header {
  background-color: #ffe69f;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.header .main-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.header-menu {
  font-family: pretendard, sans-serif;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  font-weight: 500;
}
.header-menu-item {
  display: block;
  padding: 8px 16px;
}
.navbar-toggleBtn {
  display: none;
  color: #262626;
  font-size: 1.7rem;
  position: absolute;
  left: 1rem;
  top: 1.9rem;
}
/* Contact US */
.contact-header {
  background-color: #262626;
  padding: 1rem;
  border-bottom: 1px solid white;
}
.contact-header .header-nav .header-menu a {
  color: #ffffff;
}
.contact-header .header-nav .header-menu i {
  color: #ffffff;
}
.contact-section {
  height: 1080px;
  background-color: #262626;
  color: #ffffff;
}
.banner-section {
  padding: 4.5rem 0 7rem;
  background-color: #ffe69f;
}
.banner-section .main-container,
.login-section .main-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin: 3rem auto 7rem;
}
.about-us-logo {
  margin: 6rem 0 2.5rem;
}
.about-us-description {
  color: #4d4d4d;
  letter-spacing: -0.64px;
  line-height: 3rem;
}
.banner-img {
  overflow-x: hidden;
}

/* form {
    display: flex;
    justify-content: center;
  
    font-family: "Gilroy-Regular";
  } */

/* Modal Start */
.modal-container {
  position: relative;
  margin: 0 auto;
}
.booking-modal {
  width: 432px;
  padding: 1.3rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
  bottom: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
  background-color: white;
  box-shadow: 5px 5px 20px #4d4d4d26;
  border-radius: 24px;
}
.booking-modal p {
  font-size: 1rem;
}
.booking-modal {
  z-index: 2;
}
.hidden {
  display: none;
}
.booking-modal h3 {
  font-weight: bold;
  margin: 3rem auto;
}
.modal-btn-box {
  margin: 1rem auto;
}
.booking-modal input,
textarea {
  width: 100%;
  padding: 0.7rem 2rem;
  border: 1px solid #ddd;
  border-radius: 16px;
  font-size: 0.9em;
}
.booking-modal textarea {
  height: 140px;
}
.input-icons {
  width: 100%;
  margin: auto 0;
}
.input-icons i {
  position: absolute;
  margin: 1.2rem 0.5rem;
}
.input-icons img {
  position: absolute;
  margin: 0.7rem 0.5rem;
}
.icon {
  width: 20px;
  height: 20px;
  padding: 5px;
  background-color: #ff5a5aa8;
}
.modal-btn {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  border: 1px solid #262626;
  text-align: center;
  font-size: 1rem;
}
.input-box-one {
  display: flex;
  flex-direction: column;
  gap: inherit;
}
.input-box-two {
  display: flex;
  gap: inherit;
}
.btn-back {
  background-color: #ffffff;
  color: #262626;
}
.btn-submit {
  background-color: #262626;
  color: #ffffff;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}
/* Modal End */
@media screen and (max-width: 1024px) {
  #service {
    display: none;
  }
  #contact {
    display: none;
  }
  form {
    flex-wrap: wrap;
  }
  .btn-container {
    max-width: 780px;
  }
  .banner-section .main-container {
    margin: 1rem 1rem 5.6rem;
  }
  .form-box {
    display: flex;
    align-items: center;
  }
  .event-type-select,
  .date {
    width: 350px;
  }
  .form-location {
    width: 260px;
  }
  .form-box-one {
    margin: 0 1.5rem;
  }
  .adult-num-select {
    width: 180px;
  }
  .form-box-one label,
  .form-box-two label {
    margin-left: 11px;
  }
}

@media screen and (max-width: 820px) {
  .header-menu {
    gap: 0.5rem;
  }
  .header-menu-item {
    display: block;
    padding: 8px 5px;
  }
  .banner-section .main-container {
    margin: 1rem 1rem 5.6rem;
  }
  .banner-title h1 {
    font-size: 2rem;
  }
  .about-us-logo {
    width: 230px;
    height: auto;
  }
  .banner-subtitle {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .banner-img {
    width: 400px;
    height: auto;
  }
  .event-card {
    width: 208px;
    height: 306px;
  }
  .event-card img {
    width: 192px;
    height: auto;
    margin: 0.5rem;
  }
  .event-card p {
    font-size: 1rem;
    margin: 0 1rem;
  }
  .event-card h2 {
    font-size: 1.2rem;
    margin: 0 0 2.5rem 1rem;
  }
  .about-us-description {
    font-size: 1.25rem;
  }
  .character-h2-box {
    width: 200px;
    margin: 0 auto;
  }
  .character-images-section h2 {
    font-size: 1.5rem;
  }
  .character-images-section p {
    font-size: 0.75rem;
  }
  .characters-image img {
    width: 30%;
  }
  .slide-photo img {
    width: 100%;
    height: auto;
  }
  .word-box-2 {
    display: none;
  }
  .word-box-3 {
    display: none;
  }
  .events-cards-section h3 {
    font-size: 1.5rem;
  }
  .services-section .tags {
    padding: 8px;
  }
  .services-section-img {
    margin: 6rem auto;
  }
  .bubble {
    left: 40%;
    width: 128px;
    height: auto;
  }
  .puppy {
    width: 228px;
    height: auto;
  }
  .contact-box {
    flex-direction: column;
  }
  .tel-box a {
    margin-right: unset;
    font-size: 1.5rem;
  }
  form {
    justify-content: space-around;
    flex-wrap: warp;
  }
  .footer-logo {
    width: 96px;
    height: auto;
  }
  .form-box-one {
    margin: 0;
  }
}

@media screen and (max-width: 598px) {
  #service {
    display: unset;
  }
  #contact {
    display: unset;
  }
  .header .main-container {
    flex-direction: column;
    padding: 8px 24px;
  }
  .header-logo-img {
    width: 200px;
    height: auto;
  }
  .header-menu {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 1rem;
  }
  .header-menu li {
    width: 100%;
    text-align: center;
  }
  .navbar-toggleBtn {
    display: block;
  }
  .header-menu.open {
    display: flex;
  }
  .section-banner {
    padding: 3rem 0 3rem;
  }
  .character-box-btn {
    font-size: 1.5rem;
    margin: 3rem auto 4.5rem;
  }
  .about-us-description {
    font-size: 0.9rem;
    line-height: 24px;
  }
  .about-us-logo {
    width: 128px;
    height: auto;
  }
  .word-box-2 {
    display: none;
  }
  .word-box-3 {
    display: none;
  }
  .section-banner .main-container {
    margin: 1rem;
    flex-direction: column-reverse;
    align-items: start;
  }
  .section-animation-box h2 {
    padding: 0.5rem 0;
    font-size: 0.75rem;
  }
  .banner-title h1 {
    font-size: 1.5rem;
    line-height: 1.5;
  }
  .banner-img {
    margin-bottom: 1rem;
    width: 100%;
  }
  .banner-subtitle {
    margin-top: 1rem;
    font-size: 1rem;
  }
  .about-us-logo.logo-image {
    width: 230px;
    height: auto;
  }
  .about-us-btn {
    font-size: 1.5rem;
    margin: 4rem auto;
  }
  .about-us-logo {
    margin: 4rem 0 2rem;
  }
  .btn-container {
    margin: 4rem 0 3rem;
  }
  .services-section-btn {
    font-size: 1.5rem;
  }
  .booking-modal {
    width: 320px;
    height: auto;
  }
  form select {
    padding: 0.5rem;
  }
  form label {
    font-size: 0.9rem;
    color: #7e7e7e;
  }
  .modal-btn-box {
    text-align: center;
  }
  .form-location {
    width: 300px;
    height: 38px;
  }
  .event-type-select {
    width: 140px;
    height: 38px;
  }
  .form-box-one {
    margin-top: 0.5rem;
  }
  .form-box-two {
    margin-top: 0.5rem;
    display: flex;
  }
  .adult-num-select,
  .kid-num-select,
  .form-box-two .date {
    width: 140px;
    height: 38px;
  }
  .btn-close {
    margin-bottom: 0.5rem;
  }
  .bubble {
    top: -30%;
    left: 35%;
    width: 96px;
    height: auto;
  }
  .puppy {
    width: 96px;
    height: auto;
  }
  .footer {
    flex-direction: column;
  }
  .footer-logo {
    margin-bottom: 1rem;
  }
  .contact-link {
    font-size: 1rem;
  }
  .links-box a {
    font-size: 0.75rem;
  }
  .search-bar {
    display: none;
  }
}
